[Desktop Entry]
Name=VMware Player
Comment=Run a virtual machine
Terminal=true
Exec=/home/kristijan/dotfiles/linux-settings/vmware-player.sh
Type=Application
Icon=vmware-player
